<app-page-content *ngIf="list" maxWidth="80em">
  <h1>{{ list.title }}</h1>

  <div
    *ngIf="list.user.uid === this.user.getCurrentUser()?.uid"
    class="edit-button"
  >
    <button mat-raised-button color="primary" [routerLink]="['/edit', list.id]">
      Edit
    </button>
  </div>
  <div fxLayout="column">
    <div
      *ngFor="let item of list.collection; let rank = index"
      fxLayout="row"
      class="card"
    >
      <a href="{{ item.url }}" target="_blank" class="thumbnailLink">
        <img class="thumbnail" src="{{ item.thumbnailImage }}" />
      </a>
      <div class="divider">
        <div class="item-text">
          <p class="item-title">
            <a href="{{ item.url }}" target="_blank" class="itemName"
              >{{ item.name }}
            </a>
          </p>
          <p class="item-secondary-text">{{ item.description }}</p>
        </div>
        <div fxFlex="1 1 auto"></div>
        <h2 class="item-rank">
          {{ rank >= 9 ? rank + 1 : "0" + (rank + 1) }}
        </h2>
      </div>
    </div>
  </div>
</app-page-content>
