<app-page-content *ngIf="list$ | async as list" maxWidth="80em">
  <h1>{{ list.title }}</h1>

  <div
    *ngIf="list.users[0].uid === this.user.getCurrentUser()?.uid"
    class="edit-button"
  >
    <button mat-raised-button color="primary" [routerLink]="['/edit', list.id]">
      Edit
    </button>
  </div>
  <div
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutGap="2em grid"
    fxLayoutGap.xs="1em"
    class="grid-container"
  >
    <div
      *ngFor="let item of list.collection; let rank = index"
      fxLayout="column"
      fxLayout.xs="row"
      fxFlex="25%"
    >
      <a href="{{ item.url }}" target="_blank" class="thumbnailLink">
        <img class="thumbnail" src="{{ item.thumbnailImage }}" />
      </a>
      <div>
        <h3>
          <a href="{{ item.url }}" target="_blank" class="itemName">
            <b>{{ rank + 1 }}</b> {{ item.name }}
          </a>
        </h3>
        <p [style.color]="'gray'">{{ item.description }}</p>
      </div>
    </div>
  </div>
</app-page-content>
