<nav mat-tab-nav-bar backgroundColor="primary" [class.mat-elevation-z4]="true">
  <div>
    <p class="title">Pictalist</p>
  </div>
  <a
    mat-tab-link
    routerLink="/browse"
    routerLinkActive
    #rlaList="routerLinkActive"
    [active]="rlaList.isActive"
    >Browse</a
  >
  <a
    mat-tab-link
    routerLink="/new"
    routerLinkActive
    #rlaNew="routerLinkActive"
    [active]="rlaNew.isActive"
    >New</a
  >
  <span class="spacer"></span>
  <div>
    <a class="login" mat-raised-button routerLink="/login">Login</a>
  </div>
</nav>
<main [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</main>
