<div class="content">
  <div
    *ngIf="lists$ | async; let lists; else: loading"
    fxLayout="column"
    fxLayoutGap="1em"
  >
    <mat-card
      *ngFor="let list of lists"
      fxLayout="row"
      [routerLink]="['/list', list.id]"
    >
      <mat-card-header fxFlex="">
        <mat-card-subtitle>username</mat-card-subtitle>
        <mat-card-title>{{ list.title }}</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
    </mat-card>
    <div *ngIf="lists.length === 0">
      LIST EMPTY, either database got wiped or filter got changed
    </div>
  </div>
  <ng-template #loading>Loading&hellip;</ng-template>
</div>
