<app-page-content>
  <div *ngIf="list$ | async"></div>
  <div class="actions">
    <div class="title-input">
      <mat-form-field appearance="outline" fxFlexFill>
        <mat-label>Title</mat-label>
        <input matInput [formControl]="collectionTitle" required />
      </mat-form-field>
    </div>
    <div class="save-button">
      <button
        mat-raised-button
        color="primary"
        (click)="saveCollection()"
        [disabled]="collectionTitle.errors?.required"
      >
        Save
      </button>
    </div>
  </div>

  <div *ngIf="collectionTitle.value" class="collection">
    <div fxLayoutAlign="space-evenly">
      <div class="search-bar">
        <mat-form-field appearance="outline" fxFlexFill>
          <mat-label>Type here to add </mat-label>
          <input
            matInput
            placeholder="press tab or enter to search"
            [formControl]="searchValue"
            (keydown.enter)="search()"
            (keydown.tab)="search()"
          />
          <mat-hint
            >Try website link, anime, movie, video game name or your grocery
            items like milk
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <diV>
      <!-- TODO look into if this is called twice -->
      <div *ngIf="searching$ | async" fxLayoutAlign="space-evenly">
        <mat-progress-bar
          mode="indeterminate"
          class="loadingBar"
        ></mat-progress-bar>
      </div>
      <div *ngIf="noSearchResult$ | async" fxLayoutAlign="space-evenly">
        No results found
      </div>
      <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="1em grid">
        <div
          *ngFor="let result of searchResult | async"
          class="highlightFirstCard"
          (click)="addToCollection(result)"
        >
          <mat-card fxFlex="1 0 10em" class="card">
            <img src="{{ result.thumbnailImage }}" />
          </mat-card>
        </div>
      </div>
    </diV>
    <div class="action-bar">
      <div fxFlex="1 1 auto"></div>
      <button
        mat-raised-button
        [disabled]="!hasSelection()"
        (click)="moveToTop()"
      >
        <mat-icon>vertical_align_top</mat-icon>
      </button>
      <button
        mat-raised-button
        [disabled]="!hasSelection()"
        (click)="moveToBottom()"
      >
        <mat-icon>vertical_align_bottom</mat-icon>
      </button>
      <button
        mat-raised-button
        [disabled]="!hasSelection()"
        color="warn"
        (click)="removeFromCollection()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div
        class="example-box"
        *ngFor="let item of newCollection; let rank = index"
        cdkDrag
      >
        <mat-checkbox [formControl]="item.selected" class="item-checkbox">{{
          rank + 1
        }}</mat-checkbox>
        <img src="{{ item.thumbnailImage }}" />
        <p class="item-content">{{ item.name }}</p>
        <div fxFlex="1 1 auto"></div>
        <div cdkDragHandle class="drag-handle">
          <mat-icon>drag_handle</mat-icon>
        </div>
      </div>
    </div>
  </div>
</app-page-content>
