<div fxLayoutAlign="space-evenly">
  <div class="searchBar">
    <mat-form-field appearance="outline" fxFlexFill>
      <mat-label>Outline form field</mat-label>
      <input
        matInput
        placeholder="Placeholder"
        [formControl]="searchValue"
        (keydown.enter)="search()"
        (keydown.tab)="search()"
      />
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </div>
</div>

<div *ngIf="!items && searchValue.value" fxLayoutAlign="space-evenly">
  <mat-progress-bar mode="indeterminate" class="loadingBar"></mat-progress-bar>
</div>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="1em grid">
  <div *ngFor="let item of items | async" class="highlightFirstCard">
    <mat-card fxFlex="1 0 10em" class="card">
      <img src="{{ item.thumbnailImage }}" />
    </mat-card>
  </div>
</div>
