<div fxLayoutAlign="space-evenly">
  <div class="searchBar">
    <mat-form-field appearance="outline" fxFlexFill>
      <mat-label>Outline form field</mat-label>
      <input
        matInput
        placeholder="Placeholder"
        [formControl]="searchValue"
        (keydown.enter)="search()"
        (keydown.tab)="search()"
      />
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </div>
</div>
<!-- TODO look into if this is called twice -->
<div *ngIf="!searchResult && searchValue.value" fxLayoutAlign="space-evenly">
  <mat-progress-bar mode="indeterminate" class="loadingBar"></mat-progress-bar>
</div>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="1em grid">
  <div
    *ngFor="let result of searchResult | async"
    class="highlightFirstCard"
    (click)="addToCollection(result)"
  >
    <mat-card fxFlex="1 0 10em" class="card">
      <img src="{{ result.thumbnailImage }}" />
    </mat-card>
  </div>
</div>

<div *ngIf="newCollection.length > 0" class="collection">
  <div class="actions">
    <button mat-raised-button color="primary" (click)="saveCollection()">
      Save
    </button>
  </div>
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of newCollection" cdkDrag>
      <img src="{{ item.thumbnailImage }}" [style]="'margin-left: 0.5em'" />
      <div
        class="item-content"
        fxFlex="grow"
        fxLayout="row"
        fxLayoutAlign="space-between"
      >
        <p>{{ item.name }}</p>
        <button mat-mini-fab color="warn" (click)="removeFromCollection(item)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
