.root {
  background-color: white;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  /* this min height needs to find a better way currently it doesn't take header into consideration */
  min-height: 100vh;
}
.content {
  padding-top: 3em;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 3em;
  max-width: 50em;
  width: 100%;
}
